# Dependencies
node_modules/
package-lock.json

# Hardhat
cache/
artifacts/
typechain-types/

# Coverage
coverage/
coverage.json

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Deployment
deployments/localhost/
